<a href="https://colab.research.google.com/github/dzakimb/Medical_Data_Cleaning/blob/main/data_cleaning_fix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Cleaning

This is the data cleaning colab using pandas and python. I use the 5gb dataset from https://openpaymensdata.cms.gov global data 2020.

## Import Data

We need to import it from google drive because I had imported it from the main source on openpaymensdata.cms.gov. I use google drive to make it easier. You can see on my github for how to import it

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
PATH = "/content/gdrive/MyDrive/Colab Notebooks/OP_DTL_GNRL_PGYR2021_P01202023.csv"

## Make a DataFrame using pandas

This data have total 11 milions rows and 91 column so it quite lot of data. Because the purpose is to clean data, we can just make dataframe with 1% total data its about 110 thousand row

In [ ]:
%%time
import pandas as pd
import random

percentage = 0.01

df = pd.read_csv(PATH,
                 header=0,
                 skiprows=lambda i: i>0 and random.random() > percentage)
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/magics/execution.py:1310: DtypeWarning: Columns (17,18,20,21,22,23,24,32,33,34,35,64,70,76,77,78,79,80,81,82,83,84,85,86,87,88) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 31.7 s, sys: 3.94 s, total: 35.6 s
Wall time: 1min 19s

,Change_Type,Covered_Recipient_Type,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Covered_Recipient_Profile_ID,Covered_Recipient_NPI,Covered_Recipient_First_Name,Covered_Recipient_Middle_Name,Covered_Recipient_Last_Name,...,Associated_Drug_or_Biological_NDC_4,Associated_Device_or_Medical_Supply_PDI_4,Covered_or_Noncovered_Indicator_5,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5,Product_Category_or_Therapeutic_Area_5,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5,Associated_Drug_or_Biological_NDC_5,Associated_Device_or_Medical_Supply_PDI_5,Program_Year,Payment_Publication_Date
0,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,319658.0,1.053528e+09,VITALIE,NaN,CRUDU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,01/20/2023
1,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,2789659.0,1.285937e+09,GABRIEL,NaN,FAZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,01/20/2023
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,2986954.0,1.366966e+09,Dipesh,NaN,Ludhwani,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,01/20/2023
3,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,624972.0,1.194895e+09,Christopher,NaN,Komanapalli,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,01/20/2023
4,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,52894.0,1.184607e+09,Ramachandra,NaN,Reddy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,01/20/2023

Let's see the length of data

In [ ]:
LENGTH_DF = len(df)
LENGTH_DF

114185

## DF information

We want to know the general information data using .info and .describe method of DataFrame class

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114185 entries, 0 to 114184
Data columns (total 91 columns):
 #   Column                                                             Non-Null Count   Dtype
---  ------                                                             --------------   -----
 0   Change_Type                                                        114185 non-null  object
 1   Covered_Recipient_Type                                             114185 non-null  object
 2   Teaching_Hospital_CCN                                              274 non-null     float64
 3   Teaching_Hospital_ID                                               274 non-null     float64
 4   Teaching_Hospital_Name                                             274 non-null     object
 5   Covered_Recipient_Profile_ID                                       113911 non-null  float64
 6   Covered_Recipient_NPI                                              113845 non-null  float64
 7   Covered_Recipient_First_Name                                       113910 non-null  object
 8   Covered_Recipient_Middle_Name                                      69850 non-null   object
 9   Covered_Recipient_Last_Name                                        113908 non-null  object
 10  Covered_Recipient_Name_Suffix                                      2097 non-null    object
 11  Recipient_Primary_Business_Street_Address_Line1                    114182 non-null  object
 12  Recipient_Primary_Business_Street_Address_Line2                    26949 non-null   object
 13  Recipient_City                                                     114185 non-null  object
 14  Recipient_State                                                    114177 non-null  object
 15  Recipient_Zip_Code                                                 114177 non-null  object
 16  Recipient_Country                                                  114185 non-null  object
 17  Recipient_Province                                                 5 non-null       object
 18  Recipient_Postal_Code                                              8 non-null       object
 19  Covered_Recipient_Primary_Type_1                                   113911 non-null  object
 20  Covered_Recipient_Primary_Type_2                                   7 non-null       object
 21  Covered_Recipient_Primary_Type_3                                   2 non-null       object
 22  Covered_Recipient_Primary_Type_4                                   2 non-null       object
 23  Covered_Recipient_Primary_Type_5                                   2 non-null       object
 24  Covered_Recipient_Primary_Type_6                                   2 non-null       object
 25  Covered_Recipient_Specialty_1                                      113910 non-null  object
 26  Covered_Recipient_Specialty_2                                      0 non-null       float64
 27  Covered_Recipient_Specialty_3                                      0 non-null       float64
 28  Covered_Recipient_Specialty_4                                      0 non-null       float64
 29  Covered_Recipient_Specialty_5                                      0 non-null       float64
 30  Covered_Recipient_Specialty_6                                      0 non-null       float64
 31  Covered_Recipient_License_State_code1                              113911 non-null  object
 32  Covered_Recipient_License_State_code2                              1862 non-null    object
 33  Covered_Recipient_License_State_code3                              415 non-null     object
 34  Covered_Recipient_License_State_code4                              86 non-null      object
 35  Covered_Recipient_License_State_code5                              18 non-null      object
 36  Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name          114185 non-null  object
 37  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID        114185 non-null  int64
 38  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name      114185 non-null  object
 39  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State     113238 non-null  object
 40  Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country   114185 non-null  object
 41  Total_Amount_of_Payment_USDollars                                  114185 non-null  float64
 42  Date_of_Payment                                                    114185 non-null  object
 43  Number_of_Payments_Included_in_Total_Amount                        114185 non-null  int64
 44  Form_of_Payment_or_Transfer_of_Value                               114185 non-null  object
 45  Nature_of_Payment_or_Transfer_of_Value                             114185 non-null  object
 46  City_of_Travel                                                     2535 non-null    object
 47  State_of_Travel                                                    2524 non-null    object
 48  Country_of_Travel                                                  2535 non-null    object
 49  Physician_Ownership_Indicator                                      100911 non-null  object
 50  Third_Party_Payment_Recipient_Indicator                            114185 non-null  object
 51  Name_of_Third_Party_Entity_Receiving_Payment_or_Transfer_of_Value  823 non-null     object
 52  Charity_Indicator                                                  42292 non-null   object
 53  Third_Party_Equals_Covered_Recipient_Indicator                     945 non-null     object
 54  Contextual_Information                                             6588 non-null    object
 55  Delay_in_Publication_Indicator                                     114185 non-null  object
 56  Record_ID                                                          114185 non-null  int64
 57  Dispute_Status_for_Publication                                     114185 non-null  object
 58  Related_Product_Indicator                                          114185 non-null  object
 59  Covered_or_Noncovered_Indicator_1                                  109025 non-null  object
 60  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1          106882 non-null  object
 61  Product_Category_or_Therapeutic_Area_1                             106916 non-null  object
 62  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1           106706 non-null  object
 63  Associated_Drug_or_Biological_NDC_1                                86154 non-null   object
 64  Associated_Device_or_Medical_Supply_PDI_1                          13924 non-null   object
 65  Covered_or_Noncovered_Indicator_2                                  19427 non-null   object
 66  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_2          19220 non-null   object
 67  Product_Category_or_Therapeutic_Area_2                             19210 non-null   object
 68  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_2           19187 non-null   object
 69  Associated_Drug_or_Biological_NDC_2                                16621 non-null   object
 70  Associated_Device_or_Medical_Supply_PDI_2                          2258 non-null    object
 71  Covered_or_Noncovered_Indicator_3                                  4564 non-null    object
 72  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_3          4498 non-null    object
 73  Product_Category_or_Therapeutic_Area_3                             4498 non-null    object
 74  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_3           4476 non-null    object
 75  Associated_Drug_or_Biological_NDC_3                                3496 non-null    object
 76  Associated_Device_or_Medical_Supply_PDI_3                          862 non-null     object
 77  Covered_or_Noncovered_Indicator_4                                  2087 non-null    object
 78  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4          2084 non-null    object
 79  Product_Category_or_Therapeutic_Area_4                             2056 non-null    object
 80  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4           2063 non-null    object
 81  Associated_Drug_or_Biological_NDC_4                                1372 non-null    object
 82  Associated_Device_or_Medical_Supply_PDI_4                          618 non-null     object
 83  Covered_or_Noncovered_Indicator_5                                  1057 non-null    object
 84  Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5          1052 non-null    object
 85  Product_Category_or_Therapeutic_Area_5                             1052 non-null    object
 86  Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5           1051 non-null    object
 87  Associated_Drug_or_Biological_NDC_5                                588 non-null     object
 88  Associated_Device_or_Medical_Supply_PDI_5                          417 non-null     object
 89  Program_Year                                                       114185 non-null  int64
 90  Payment_Publication_Date                                           114185 non-null  object
dtypes: float64(10), int64(4), object(77)
memory usage: 79.3+ MB

In [ ]:
df.describe()

,Teaching_Hospital_CCN,Teaching_Hospital_ID,Covered_Recipient_Profile_ID,Covered_Recipient_NPI,Covered_Recipient_Specialty_2,Covered_Recipient_Specialty_3,Covered_Recipient_Specialty_4,Covered_Recipient_Specialty_5,Covered_Recipient_Specialty_6,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Total_Amount_of_Payment_USDollars,Number_of_Payments_Included_in_Total_Amount,Record_ID,Program_Year
count,274.000000,274.000000,1.139110e+05,1.138450e+05,0.0,0.0,0.0,0.0,0.0,1.141850e+05,114185.000000,114185.000000,1.141850e+05,114185.0
mean,241540.237226,10644.514599,3.883525e+06,1.499170e+09,NaN,NaN,NaN,NaN,NaN,1.000001e+11,168.796027,1.021089,8.187416e+08,2021.0
std,146122.661220,418.691956,4.778248e+06,2.877540e+08,NaN,NaN,NaN,NaN,NaN,2.039347e+05,3275.246181,0.667473,2.334098e+07,0.0
min,10011.000000,9967.000000,3.000000e+00,1.003000e+09,NaN,NaN,NaN,NaN,NaN,1.000000e+11,0.010000,1.000000,7.542746e+08,2021.0
25%,110010.000000,10275.250000,2.040805e+05,1.245809e+09,NaN,NaN,NaN,NaN,NaN,1.000000e+11,13.000000,1.000000,7.962950e+08,2021.0
50%,230046.000000,10619.000000,6.927200e+05,1.497918e+09,NaN,NaN,NaN,NaN,NaN,1.000000e+11,16.900000,1.000000,8.200315e+08,2021.0
75%,360171.750000,11006.750000,1.055577e+07,1.740675e+09,NaN,NaN,NaN,NaN,NaN,1.000000e+11,23.140000,1.000000,8.378306e+08,2021.0
max,530014.000000,11328.000000,1.130843e+07,1.992999e+09,NaN,NaN,NaN,NaN,NaN,1.000010e+11,541217.060000,100.000000,8.554548e+08,2021.0

## Get rid of the column

I think 91 column is too much for our data. I think we can get rid of the data we don't need so much like too much null data or just have one unique data or just id data. I think it's nice to have global column to drop the column that useful

In [ ]:
NOUSE_COLUMNS = []

### Make DataFrame for all the data

I think we can see the column using DataFrame format to see:
1. name of column
2. total_rows
3. total_null_data
4. total_unique_data
5. dtype_data

In [ ]:
import pandas as pd

def get_column_df(df):
  name = []
  total_rows = []
  total_null_data = []
  total_unique_data = []
  dtype_data = []
  length_of_df = len(df)
  for column in df.columns:
    name.append(column)
    total_rows.append(len(df))
    total_null_data.append(df[column].isnull().sum())
    total_unique_data.append(len(df[column].unique()))
    dtype_data.append(str(df[column].dtype))
  dict_columns = {
      'name':name,
      'total_rows':total_rows,
      'total_null_data':total_null_data,
      'total_unique_data':total_unique_data,
      'dtype_data':dtype_data
  }
  return pd.DataFrame.from_dict(dict_columns)

In [ ]:
column_info_df = get_column_df(df)
column_info_df

,name,total_rows,total_null_data,total_unique_data,dtype_data
0,Change_Type,114185,0,3,object
1,Covered_Recipient_Type,114185,0,3,object
2,Teaching_Hospital_CCN,114185,113911,190,float64
3,Teaching_Hospital_ID,114185,113911,190,float64
4,Teaching_Hospital_Name,114185,113911,203,object
...,...,...,...,...,...
86,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,113134,97,object
87,Associated_Drug_or_Biological_NDC_5,114185,113597,24,object
88,Associated_Device_or_Medical_Supply_PDI_5,114185,113768,77,object
89,Program_Year,114185,0,1,int64
90,Payment_Publication_Date,114185,0,1,object

### No Null data

Let's see the column with no null data. Because it easier to see them. We can see if the data is useful enough for us

In [ ]:
no_null_df = column_info_df.loc[column_info_df['total_null_data'] == 0]
no_null_df.reset_index(drop=True)

,name,total_rows,total_null_data,total_unique_data,dtype_data
0,Change_Type,114185,0,3,object
1,Covered_Recipient_Type,114185,0,3,object
2,Recipient_City,114185,0,7896,object
3,Recipient_Country,114185,0,6,object
4,Submitting_Applicable_Manufacturer_or_Applicab...,114185,0,915,object
5,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,0,932,int64
6,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,0,942,object
7,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,0,22,object
8,Total_Amount_of_Payment_USDollars,114185,0,12226,float64
9,Date_of_Payment,114185,0,365,object
10,Number_of_Payments_Included_in_Total_Amount,114185,0,37,int64
11,Form_of_Payment_or_Transfer_of_Value,114185,0,6,object
12,Nature_of_Payment_or_Transfer_of_Value,114185,0,17,object
13,Third_Party_Payment_Recipient_Indicator,114185,0,3,object
14,Delay_in_Publication_Indicator,114185,0,1,object
15,Record_ID,114185,0,114185,int64
16,Dispute_Status_for_Publication,114185,0,2,object
17,Related_Product_Indicator,114185,0,2,object
18,Program_Year,114185,0,1,int64
19,Payment_Publication_Date,114185,0,1,object

#### Deleted the all-unique and one-unique data

So here we got 20 column that not have null data. As we can see, there are columns that have all-unique data and just one unique data. I think it doesn't have so much impact for our data like `id` or `program year`

In [ ]:
temp_df = no_null_df.loc[(no_null_df['total_unique_data'] == LENGTH_DF) | (no_null_df['total_unique_data'] == 1)]
temp_df

,name,total_rows,total_null_data,total_unique_data,dtype_data
55,Delay_in_Publication_Indicator,114185,0,1,object
56,Record_ID,114185,0,114185,int64
89,Program_Year,114185,0,1,int64
90,Payment_Publication_Date,114185,0,1,object

In [ ]:
NOUSE_COLUMNS = []

Let's drop that temp_df to our `NOUSE_COLUMNS`

In [ ]:
def add_column_to_nouse_columns(df_want_to_deleted : pd.DataFrame, list_column=NOUSE_COLUMNS):
  for column in list(df_want_to_deleted['name']):
    if column not in list_column:
      list_column.append(column)

  return list_column

In [ ]:
NOUSE_COLUMNS = add_column_to_nouse_columns(temp_df)
NOUSE_COLUMNS

['Delay_in_Publication_Indicator',
 'Record_ID',
 'Program_Year',
 'Payment_Publication_Date']

### Data with NULL

Now let's mess up with data with NULL so we know what can we do about it

In [ ]:
null_df = column_info_df.loc[column_info_df['total_null_data'] != 0]
null_df.reset_index(drop=True)

,name,total_rows,total_null_data,total_unique_data,dtype_data
0,Teaching_Hospital_CCN,114185,113911,190,float64
1,Teaching_Hospital_ID,114185,113911,190,float64
2,Teaching_Hospital_Name,114185,113911,203,object
3,Covered_Recipient_Profile_ID,114185,274,84220,float64
4,Covered_Recipient_NPI,114185,340,84161,float64
...,...,...,...,...,...
66,Indicate_Drug_or_Biological_or_Device_or_Medic...,114185,113133,5,object
67,Product_Category_or_Therapeutic_Area_5,114185,113133,68,object
68,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,113134,97,object
69,Associated_Drug_or_Biological_NDC_5,114185,113597,24,object
70,Associated_Device_or_Medical_Supply_PDI_5,114185,113768,77,object

Let's sort dataframe based on how much total null data is exist

In [ ]:
null_df.sort_values('total_null_data')

,name,total_rows,total_null_data,total_unique_data,dtype_data
11,Recipient_Primary_Business_Street_Address_Line1,114185,3,67612,object
14,Recipient_State,114185,8,57,object
15,Recipient_Zip_Code,114185,8,39768,object
5,Covered_Recipient_Profile_ID,114185,274,84220,float64
31,Covered_Recipient_License_State_code1,114185,274,57,object
...,...,...,...,...,...
27,Covered_Recipient_Specialty_3,114185,114185,1,float64
26,Covered_Recipient_Specialty_2,114185,114185,1,float64
29,Covered_Recipient_Specialty_5,114185,114185,1,float64
30,Covered_Recipient_Specialty_6,114185,114185,1,float64
28,Covered_Recipient_Specialty_4,114185,114185,1,float64

I think we can remove the column that all data is NULL with 50% percentage of null data

In [ ]:
temp_df = null_df.loc[null_df['total_null_data'] > int(0.5*LENGTH_DF)]
temp_df.reset_index(drop=True)

,name,total_rows,total_null_data,total_unique_data,dtype_data
0,Teaching_Hospital_CCN,114185,113911,190,float64
1,Teaching_Hospital_ID,114185,113911,190,float64
2,Teaching_Hospital_Name,114185,113911,203,object
3,Covered_Recipient_Name_Suffix,114185,112088,30,object
4,Recipient_Primary_Business_Street_Address_Line2,114185,87236,6453,object
5,Recipient_Province,114185,114180,5,object
6,Recipient_Postal_Code,114185,114177,8,object
7,Covered_Recipient_Primary_Type_2,114185,114178,4,object
8,Covered_Recipient_Primary_Type_3,114185,114183,2,object
9,Covered_Recipient_Primary_Type_4,114185,114183,2,object
10,Covered_Recipient_Primary_Type_5,114185,114183,2,object
11,Covered_Recipient_Primary_Type_6,114185,114183,2,object
12,Covered_Recipient_Specialty_2,114185,114185,1,float64
13,Covered_Recipient_Specialty_3,114185,114185,1,float64
14,Covered_Recipient_Specialty_4,114185,114185,1,float64
15,Covered_Recipient_Specialty_5,114185,114185,1,float64
16,Covered_Recipient_Specialty_6,114185,114185,1,float64
17,Covered_Recipient_License_State_code2,114185,112323,50,object
18,Covered_Recipient_License_State_code3,114185,113770,42,object
19,Covered_Recipient_License_State_code4,114185,114099,28,object
20,Covered_Recipient_License_State_code5,114185,114167,14,object
21,City_of_Travel,114185,111650,873,object
22,State_of_Travel,114185,111661,53,object
23,Country_of_Travel,114185,111650,10,object
24,Name_of_Third_Party_Entity_Receiving_Payment_o...,114185,113362,689,object
25,Charity_Indicator,114185,71893,3,object
26,Third_Party_Equals_Covered_Recipient_Indicator,114185,113240,3,object
27,Contextual_Information,114185,107597,1185,object
28,Associated_Device_or_Medical_Supply_PDI_1,114185,100261,1684,object
29,Covered_or_Noncovered_Indicator_2,114185,94758,3,object
30,Indicate_Drug_or_Biological_or_Device_or_Medic...,114185,94965,5,object
31,Product_Category_or_Therapeutic_Area_2,114185,94975,316,object
32,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,94998,806,object
33,Associated_Drug_or_Biological_NDC_2,114185,97564,351,object
34,Associated_Device_or_Medical_Supply_PDI_2,114185,111927,432,object
35,Covered_or_Noncovered_Indicator_3,114185,109621,3,object
36,Indicate_Drug_or_Biological_or_Device_or_Medic...,114185,109687,5,object
37,Product_Category_or_Therapeutic_Area_3,114185,109687,209,object
38,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,109709,456,object
39,Associated_Drug_or_Biological_NDC_3,114185,110689,182,object
40,Associated_Device_or_Medical_Supply_PDI_3,114185,113323,270,object
41,Covered_or_Noncovered_Indicator_4,114185,112098,3,object
42,Indicate_Drug_or_Biological_or_Device_or_Medic...,114185,112101,5,object
43,Product_Category_or_Therapeutic_Area_4,114185,112129,115,object
44,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,112122,185,object
45,Associated_Drug_or_Biological_NDC_4,114185,112813,58,object
46,Associated_Device_or_Medical_Supply_PDI_4,114185,113567,133,object
47,Covered_or_Noncovered_Indicator_5,114185,113128,3,object
48,Indicate_Drug_or_Biological_or_Device_or_Medic...,114185,113133,5,object
49,Product_Category_or_Therapeutic_Area_5,114185,113133,68,object
50,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,113134,97,object
51,Associated_Drug_or_Biological_NDC_5,114185,113597,24,object
52,Associated_Device_or_Medical_Supply_PDI_5,114185,113768,77,object

In [ ]:
NOUSE_COLUMNS = add_column_to_nouse_columns(temp_df)
NOUSE_COLUMNS

['Delay_in_Publication_Indicator',
 'Record_ID',
 'Program_Year',
 'Payment_Publication_Date',
 'Teaching_Hospital_CCN',
 'Teaching_Hospital_ID',
 'Teaching_Hospital_Name',
 'Covered_Recipient_Name_Suffix',
 'Recipient_Primary_Business_Street_Address_Line2',
 'Recipient_Province',
 'Recipient_Postal_Code',
 'Covered_Recipient_Primary_Type_2',
 'Covered_Recipient_Primary_Type_3',
 'Covered_Recipient_Primary_Type_4',
 'Covered_Recipient_Primary_Type_5',
 'Covered_Recipient_Primary_Type_6',
 'Covered_Recipient_Specialty_2',
 'Covered_Recipient_Specialty_3',
 'Covered_Recipient_Specialty_4',
 'Covered_Recipient_Specialty_5',
 'Covered_Recipient_Specialty_6',
 'Covered_Recipient_License_State_code2',
 'Covered_Recipient_License_State_code3',
 'Covered_Recipient_License_State_code4',
 'Covered_Recipient_License_State_code5',
 'City_of_Travel',
 'State_of_Travel',
 'Country_of_Travel',
 'Name_of_Third_Party_Entity_Receiving_Payment_or_Transfer_of_Value',
 'Charity_Indicator',
 'Third_Party_Equals_Covered_Recipient_Indicator',
 'Contextual_Information',
 'Associated_Device_or_Medical_Supply_PDI_1',
 'Covered_or_Noncovered_Indicator_2',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_2',
 'Product_Category_or_Therapeutic_Area_2',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_2',
 'Associated_Drug_or_Biological_NDC_2',
 'Associated_Device_or_Medical_Supply_PDI_2',
 'Covered_or_Noncovered_Indicator_3',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_3',
 'Product_Category_or_Therapeutic_Area_3',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_3',
 'Associated_Drug_or_Biological_NDC_3',
 'Associated_Device_or_Medical_Supply_PDI_3',
 'Covered_or_Noncovered_Indicator_4',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4',
 'Product_Category_or_Therapeutic_Area_4',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4',
 'Associated_Drug_or_Biological_NDC_4',
 'Associated_Device_or_Medical_Supply_PDI_4',
 'Covered_or_Noncovered_Indicator_5',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5',
 'Product_Category_or_Therapeutic_Area_5',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5',
 'Associated_Drug_or_Biological_NDC_5',
 'Associated_Device_or_Medical_Supply_PDI_5']

I think we can delete the name column because it doesn't seem very important and just make our models confuse.

In [ ]:
temp_columns = ['Covered_Recipient_First_Name', 'Covered_Recipient_Middle_Name', 'Covered_Recipient_Last_Name']
for column in temp_columns:
  NOUSE_COLUMNS.append(column)
NOUSE_COLUMNS

['Delay_in_Publication_Indicator',
 'Record_ID',
 'Program_Year',
 'Payment_Publication_Date',
 'Teaching_Hospital_CCN',
 'Teaching_Hospital_ID',
 'Teaching_Hospital_Name',
 'Covered_Recipient_Name_Suffix',
 'Recipient_Primary_Business_Street_Address_Line2',
 'Recipient_Province',
 'Recipient_Postal_Code',
 'Covered_Recipient_Primary_Type_2',
 'Covered_Recipient_Primary_Type_3',
 'Covered_Recipient_Primary_Type_4',
 'Covered_Recipient_Primary_Type_5',
 'Covered_Recipient_Primary_Type_6',
 'Covered_Recipient_Specialty_2',
 'Covered_Recipient_Specialty_3',
 'Covered_Recipient_Specialty_4',
 'Covered_Recipient_Specialty_5',
 'Covered_Recipient_Specialty_6',
 'Covered_Recipient_License_State_code2',
 'Covered_Recipient_License_State_code3',
 'Covered_Recipient_License_State_code4',
 'Covered_Recipient_License_State_code5',
 'City_of_Travel',
 'State_of_Travel',
 'Country_of_Travel',
 'Name_of_Third_Party_Entity_Receiving_Payment_or_Transfer_of_Value',
 'Charity_Indicator',
 'Third_Party_Equals_Covered_Recipient_Indicator',
 'Contextual_Information',
 'Associated_Device_or_Medical_Supply_PDI_1',
 'Covered_or_Noncovered_Indicator_2',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_2',
 'Product_Category_or_Therapeutic_Area_2',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_2',
 'Associated_Drug_or_Biological_NDC_2',
 'Associated_Device_or_Medical_Supply_PDI_2',
 'Covered_or_Noncovered_Indicator_3',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_3',
 'Product_Category_or_Therapeutic_Area_3',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_3',
 'Associated_Drug_or_Biological_NDC_3',
 'Associated_Device_or_Medical_Supply_PDI_3',
 'Covered_or_Noncovered_Indicator_4',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_4',
 'Product_Category_or_Therapeutic_Area_4',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_4',
 'Associated_Drug_or_Biological_NDC_4',
 'Associated_Device_or_Medical_Supply_PDI_4',
 'Covered_or_Noncovered_Indicator_5',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_5',
 'Product_Category_or_Therapeutic_Area_5',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_5',
 'Associated_Drug_or_Biological_NDC_5',
 'Associated_Device_or_Medical_Supply_PDI_5',
 'Covered_Recipient_First_Name',
 'Covered_Recipient_Middle_Name',
 'Covered_Recipient_Last_Name']

## Leftover column

We've been removing the column quite largely. So let's see what is the leftover column and how much columns are left.

In [ ]:
left_over_column = column_info_df.loc[~column_info_df['name'].isin(NOUSE_COLUMNS)]
left_over_column

,name,total_rows,total_null_data,total_unique_data,dtype_data
0,Change_Type,114185,0,3,object
1,Covered_Recipient_Type,114185,0,3,object
5,Covered_Recipient_Profile_ID,114185,274,84220,float64
6,Covered_Recipient_NPI,114185,340,84161,float64
11,Recipient_Primary_Business_Street_Address_Line1,114185,3,67612,object
13,Recipient_City,114185,0,7896,object
14,Recipient_State,114185,8,57,object
15,Recipient_Zip_Code,114185,8,39768,object
16,Recipient_Country,114185,0,6,object
19,Covered_Recipient_Primary_Type_1,114185,274,13,object
25,Covered_Recipient_Specialty_1,114185,275,280,object
31,Covered_Recipient_License_State_code1,114185,274,57,object
36,Submitting_Applicable_Manufacturer_or_Applicab...,114185,0,915,object
37,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,0,932,int64
38,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,0,942,object
39,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,947,43,object
40,Applicable_Manufacturer_or_Applicable_GPO_Maki...,114185,0,22,object
41,Total_Amount_of_Payment_USDollars,114185,0,12226,float64
42,Date_of_Payment,114185,0,365,object
43,Number_of_Payments_Included_in_Total_Amount,114185,0,37,int64
44,Form_of_Payment_or_Transfer_of_Value,114185,0,6,object
45,Nature_of_Payment_or_Transfer_of_Value,114185,0,17,object
49,Physician_Ownership_Indicator,114185,13274,3,object
50,Third_Party_Payment_Recipient_Indicator,114185,0,3,object
57,Dispute_Status_for_Publication,114185,0,2,object
58,Related_Product_Indicator,114185,0,2,object
59,Covered_or_Noncovered_Indicator_1,114185,5160,3,object
60,Indicate_Drug_or_Biological_or_Device_or_Medic...,114185,7303,5,object
61,Product_Category_or_Therapeutic_Area_1,114185,7269,983,object
62,Name_of_Drug_or_Biological_or_Device_or_Medica...,114185,7479,2946,object
63,Associated_Drug_or_Biological_NDC_1,114185,28031,793,object

Let's get the DataFrame with only that features

In [ ]:
df_new = df.drop(columns=NOUSE_COLUMNS)
df_new

,Change_Type,Covered_Recipient_Type,Covered_Recipient_Profile_ID,Covered_Recipient_NPI,Recipient_Primary_Business_Street_Address_Line1,Recipient_City,Recipient_State,Recipient_Zip_Code,Recipient_Country,Covered_Recipient_Primary_Type_1,...,Nature_of_Payment_or_Transfer_of_Value,Physician_Ownership_Indicator,Third_Party_Payment_Recipient_Indicator,Dispute_Status_for_Publication,Related_Product_Indicator,Covered_or_Noncovered_Indicator_1,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1,Product_Category_or_Therapeutic_Area_1,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1,Associated_Drug_or_Biological_NDC_1
0,UNCHANGED,Covered Recipient Physician,319658.0,1.053528e+09,1190 Nw 95th St Ste 404,MIAMI,FL,33150,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Device,Cardiology,DyeVert,NaN
1,UNCHANGED,Covered Recipient Physician,2789659.0,1.285937e+09,311 Camden St Ste 102,SAN ANTONIO,TX,78215,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Device,Cardiology,DyeVert,NaN
2,UNCHANGED,Covered Recipient Physician,2986954.0,1.366966e+09,4309 W MEDICAL CENTER DR,MCHENRY,IL,60050,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Device,Cardiology,DyeVert,NaN
3,UNCHANGED,Covered Recipient Physician,624972.0,1.194895e+09,1215 PLEASANT ST,DES MOINES,IA,50309,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,No,NaN,NaN,NaN,NaN,NaN
4,UNCHANGED,Covered Recipient Physician,52894.0,1.184607e+09,2401 S 31ST ST,TEMPLE,TX,76508-0001,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,No,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114180,CHANGED,Covered Recipient Physician,91214.0,1.013115e+09,15004 Innovation Dr,San Diego,CA,92128,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Drug,Respiratory,BREZTRI,0310-4616-12
114181,CHANGED,Covered Recipient Physician,725518.0,1.700866e+09,2405 N Columbus St,Lancaster,OH,43130,United States,Medical Doctor,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Drug,Cardiovascular and Metabolism,FARXIGA,0310-6205-30
114182,CHANGED,Covered Recipient Non-Physician Practitioner,11273005.0,1.124782e+09,1100 CLEARWATER LARGO RD N,LARGO,FL,33770,United States,Nurse Practitioner,...,Food and Beverage,NaN,No Third Party Payment,No,Yes,Covered,Drug,Central Nervous System,AUSTEDO,68546-170-60
114183,CHANGED,Covered Recipient Physician,191411.0,1.225478e+09,2191 9TH AVE N STE 120,ST PETERSBURG,FL,33713-7147,United States,Doctor of Osteopathy,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Biological,ONCOLOGY,KEYTRUDA,0006-3029-02
114184,CHANGED,Covered Recipient Non-Physician Practitioner,10594909.0,1.881121e+09,110 STONE OAK LOOP STE 103,SAN ANTONIO,TX,78258,United States,Physician Assistant,...,Food and Beverage,NaN,No Third Party Payment,No,Yes,Covered,Biological,Neuroscience,Aimovig,55513-841-01

## Filling NULL Data

I think it's enough, now let's see what we can do to complete the null data. We can make a pipeline to make a simpleimputer for the categorical features. It's because the numerical features don't have missing data. We can use sklearn pipeline for this kind of job

 ### Categorical Feature

 I think we can make a pipeline for filling the numerical feature. We can fill it with SimpleImputer on scikit-learn. There is a good article about how we handle missing data for categorical features from: https://medium.com/analytics-vidhya/handle-missing-values-in-categorical-features-b7c5b073dda2:
 1. Delete the entire column
 2. Replace missing values with the mode
 3. Delete rows with null values
 4. Predict value using a Classifier Algorithm


I think I just use two ways, replace with the mode and with the predict value. Let's grab the feature of the categorical feature

In [ ]:
categorical_features = list(left_over_column['name'].loc[(left_over_column['dtype_data']=='object') & (left_over_column['total_null_data'] != 0)])
categorical_features

['Recipient_Primary_Business_Street_Address_Line1',
 'Recipient_State',
 'Recipient_Zip_Code',
 'Covered_Recipient_Primary_Type_1',
 'Covered_Recipient_Specialty_1',
 'Covered_Recipient_License_State_code1',
 'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State',
 'Physician_Ownership_Indicator',
 'Covered_or_Noncovered_Indicator_1',
 'Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1',
 'Product_Category_or_Therapeutic_Area_1',
 'Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1',
 'Associated_Drug_or_Biological_NDC_1']

### Replace NaN with Mode

This is the way we do the replace NaN data using mode data.

In [ ]:
df_replace_mode = df_new.copy()

def replace_with_mode(df):
  for feature in categorical_features:
    replace_with = str(df[feature].mode())
    df[feature].fillna(replace_with, inplace=True)

replace_with_mode(df_replace_mode)

df_replace_mode.isnull().sum()

Change_Type                                                           0
Covered_Recipient_Type                                                0
Covered_Recipient_Profile_ID                                        274
Covered_Recipient_NPI                                               340
Recipient_Primary_Business_Street_Address_Line1                       0
Recipient_City                                                        0
Recipient_State                                                       0
Recipient_Zip_Code                                                    0
Recipient_Country                                                     0
Covered_Recipient_Primary_Type_1                                      0
Covered_Recipient_Specialty_1                                         0
Covered_Recipient_License_State_code1                                 0
Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name             0
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID           0
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name         0
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State        0
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country      0
Total_Amount_of_Payment_USDollars                                     0
Date_of_Payment                                                       0
Number_of_Payments_Included_in_Total_Amount                           0
Form_of_Payment_or_Transfer_of_Value                                  0
Nature_of_Payment_or_Transfer_of_Value                                0
Physician_Ownership_Indicator                                         0
Third_Party_Payment_Recipient_Indicator                               0
Dispute_Status_for_Publication                                        0
Related_Product_Indicator                                             0
Covered_or_Noncovered_Indicator_1                                     0
Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1             0
Product_Category_or_Therapeutic_Area_1                                0
Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1              0
Associated_Drug_or_Biological_NDC_1                                   0
dtype: int64

The last we can delete Covered_Recipient_Profile_ID, and Covered_Recipient_Profile_NPI because it's not significant

In [ ]:
df_cleaned = df_replace_mode.drop(['Covered_Recipient_Profile_ID', 'Covered_Recipient_NPI'], axis=1)
df_cleaned

,Change_Type,Covered_Recipient_Type,Recipient_Primary_Business_Street_Address_Line1,Recipient_City,Recipient_State,Recipient_Zip_Code,Recipient_Country,Covered_Recipient_Primary_Type_1,Covered_Recipient_Specialty_1,Covered_Recipient_License_State_code1,...,Nature_of_Payment_or_Transfer_of_Value,Physician_Ownership_Indicator,Third_Party_Payment_Recipient_Indicator,Dispute_Status_for_Publication,Related_Product_Indicator,Covered_or_Noncovered_Indicator_1,Indicate_Drug_or_Biological_or_Device_or_Medical_Supply_1,Product_Category_or_Therapeutic_Area_1,Name_of_Drug_or_Biological_or_Device_or_Medical_Supply_1,Associated_Drug_or_Biological_NDC_1
0,UNCHANGED,Covered Recipient Physician,1190 Nw 95th St Ste 404,MIAMI,FL,33150,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Internal M...,FL,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Device,Cardiology,DyeVert,0 61874-115-31\ndtype: object
1,UNCHANGED,Covered Recipient Physician,311 Camden St Ste 102,SAN ANTONIO,TX,78215,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Internal M...,TX,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Device,Cardiology,DyeVert,0 61874-115-31\ndtype: object
2,UNCHANGED,Covered Recipient Physician,4309 W MEDICAL CENTER DR,MCHENRY,IL,60050,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Internal M...,IL,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Device,Cardiology,DyeVert,0 61874-115-31\ndtype: object
3,UNCHANGED,Covered Recipient Physician,1215 PLEASANT ST,DES MOINES,IA,50309,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Thoracic S...,IA,...,Food and Beverage,No,No Third Party Payment,No,No,0 Covered\ndtype: object,0 Drug\ndtype: object,0 NEUROSCIENCE\ndtype: object,0 VRAYLAR\ndtype: object,0 61874-115-31\ndtype: object
4,UNCHANGED,Covered Recipient Physician,2401 S 31ST ST,TEMPLE,TX,76508-0001,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Thoracic S...,TX,...,Food and Beverage,No,No Third Party Payment,No,No,0 Covered\ndtype: object,0 Drug\ndtype: object,0 NEUROSCIENCE\ndtype: object,0 VRAYLAR\ndtype: object,0 61874-115-31\ndtype: object
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114180,CHANGED,Covered Recipient Physician,15004 Innovation Dr,San Diego,CA,92128,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Family Med...,CA,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Drug,Respiratory,BREZTRI,0310-4616-12
114181,CHANGED,Covered Recipient Physician,2405 N Columbus St,Lancaster,OH,43130,United States,Medical Doctor,Allopathic & Osteopathic Physicians|Internal M...,OH,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Drug,Cardiovascular and Metabolism,FARXIGA,0310-6205-30
114182,CHANGED,Covered Recipient Non-Physician Practitioner,1100 CLEARWATER LARGO RD N,LARGO,FL,33770,United States,Nurse Practitioner,Physician Assistants & Advanced Practice Nursi...,FL,...,Food and Beverage,0 No\ndtype: object,No Third Party Payment,No,Yes,Covered,Drug,Central Nervous System,AUSTEDO,68546-170-60
114183,CHANGED,Covered Recipient Physician,2191 9TH AVE N STE 120,ST PETERSBURG,FL,33713-7147,United States,Doctor of Osteopathy,Allopathic & Osteopathic Physicians|Obstetrics...,FL,...,Food and Beverage,No,No Third Party Payment,No,Yes,Covered,Biological,ONCOLOGY,KEYTRUDA,0006-3029-02
114184,CHANGED,Covered Recipient Non-Physician Practitioner,110 STONE OAK LOOP STE 103,SAN ANTONIO,TX,78258,United States,Physician Assistant,Physician Assistants & Advanced Practice Nursi...,TX,...,Food and Beverage,0 No\ndtype: object,No Third Party Payment,No,Yes,Covered,Biological,Neuroscience,Aimovig,55513-841-01

## Save the clean data

Now let's save it to our drive as CSV

In [ ]:
name = 'clean_data'

df_cleaned.to_csv(f'{name}.csv')

### Save it to our drive

In [ ]:
!cp -av '/content/clean_data.csv' '/content/gdrive/MyDrive/Colab Notebooks'

'/content/clean_data.csv' -> '/content/gdrive/MyDrive/Colab Notebooks/clean_data.csv'